body{
    background-image: url(../images/road1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    height: auto;
    width: 100%;
}

.MuiCard-root{
    text-align: center;
}
.MuiCardActionArea-root{
display: flex;
}

