
.container{
    margin: 0 auto;
    max-width: 960px;
    margin-bottom: -39px;
}
.container-logo,.container-card,.container-button{
display: flex;
justify-content: center;
}
.container-card{
    text-align: center;
}
.MuiCard-root{
    text-align: center;
    padding: 0px;
}
.MuiCardActionArea-root{
display: flex;
}
.MuiCardContent-root {
    padding: 0px;
}
.MuiTypography-colorTextSecondary{
    color:rgb(0, 0, 0); 
}

.MuiTypography-gutterBottom {
    margin-bottom:none;
} 
img.MuiAvatar-img {
    color: transparent;
    width: 145%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
}
div.MuiCardContent-root {
    background-color: rgba(0,0,0,0.3);
}
.background{
width:100%;
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

.background.gbi-854402301-b1sRKAGnrp5GBSa17FEK1E:before,
.background.gbi-854402301-b1sRKAGnrp5GBSa17FEK1E:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0; 
  transition: none;
  background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-position-x: center;
background-position-y: center;

}
.background.gbi-854402301-b1sRKAGnrp5GBSa17FEK1E:before {
  z-index: -100;
  opacity: 1; 
}
.background.gbi-854402301-b1sRKAGnrp5GBSa17FEK1E:after {
  z-index: -101;
  opacity: 0;
}
