.container-tech {
    margin: 0 auto;
    max-width: 960px;
}
.cards, .cards-one,.cards-two,.cards-three{
    display: flex;
    justify-content: center;
}
.card-trailer{
    padding: "10px"
}

.card-deck{
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    
}
.header{
    text-align: center;
    color: white;
}
.button-back{
    display: flex;
    justify-content: center;
}